:root {
  --primary-color: #b22222;
  --secondary-color: #ffd700;
  --background-color: #fff5e1;
  --text-color: #333;
  --transition-time: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}
.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 1440px) {
    padding-left: 64px;
    padding-right: 64px;
  }
}
.section {
  padding-top: clamp(20px, calc(10px + 5vw), 64px);
  padding-bottom: clamp(20px, calc(10px + 5vw), 64px);
}

.title {
  margin-bottom: 20px;

  font-family: "Bungee", sans-serif;
  color: var(--secondary-color);
  text-align: center;
  font-size: clamp(2rem, 2.143vw + 1.571rem, 3.5rem);
  line-height: clamp(2.6rem, 2.786vw + 2.043rem, 4.55rem);
}
.subTitle {
  font-family: "Bungee", sans-serif;
  color: var(--primary-color);
  font-size: clamp(1.375rem, 0.536vw + 1.268rem, 1.75rem);
  line-height: clamp(1.788rem, 0.696vw + 1.648rem, 2.275rem);
  margin-bottom: 10px;
}
.text {
  margin-bottom: 10px;

  color: var(--hover-color);
  font-size: clamp(1.625rem, 0.536vw + 1.518rem, 2rem);
  line-height: clamp(2.113rem, 0.696vw + 1.973rem, 2.6rem);
}
